html{
    font-size: 16px;
    body{
        background-color: rgb(0, 255, 162);
    }
}

h2{
    font-size: 1.5rem;
}
p{
    font-size: 0.9rem;
}

video{
    width: 100%;
    top: 0px;
}

.navbar{
    background: transparent;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    transition: top 0.2s ease-in-out;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0, 72, 255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 72, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-up{
    top: -60px;
}

.container-fluid{
    padding-top: 25px;
    padding-left: 5vw;
    padding-right: 5vw;
    
    .h2p{
        padding-left: 15px;
    }
}

@mixin social{
    padding: 14px 27px;
    width: 93px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #0964c6;
    &:hover{
        background-color:  #75d1fc;
    }
}

.social1, .social2, .social3{
    @include social;
}

@mixin mgpddzero($padding:0px 0px) {
    margin: 0px;
    padding: $padding;
}

.contimg{
    @include mgpddzero();
}
.imagenes{
    @include mgpddzero(0px 30px);
    flex-wrap: wrap;
    .column {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0px;
        div{
            flex-shrink: 0;
            width: 200px;
            height: 200px;
           img {
                width: 100%;
            } 
        }
    }
}

// OVERFLOW: HIDDEN

.sign{
    width: 90px;
    border-radius: 10%;
    opacity: 0.5;
}
footer{
    .footer{
        flex-wrap: nowrap;
        justify-content: space-between;
        .column{
            width: 25%;
        }
    }
    .logo{
        width: 20%;
        opacity: 0.5;
        border-radius: 20%;
    }
    .iconos, .copyright{
        .row{
            width: 25%;
            margin: 0 auto;
            justify-content: space-between;
        }
    }
}