html{
    font-size: 16px;
    body{
        background-color: #EDF3F3;
        margin: 0;
        padding: 0;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        header{
          .navbar{
              width: 100%;
              height: 60px;
              a{
                  color: rgb(157, 33, 33);
                  &:hover{
                      color: rgb(157, 33, 33);
                  }
              }
          }
        }
        header a{
            color: rgb(157, 33, 33);
            &:hover{
                color: rgb(157, 33, 33);
            }
        }
        main .container-fluid:last-child{
            display: none;
        }
        main .container-fluid:first-child .col {
            display: flex;
            justify-content: center;
            button{
                width: 350px;
                height: 80px;
                text-align: center;
                vertical-align: middle;
                background-color: #fff309;
                border-radius: 8px;
                p{
                    margin-bottom: 0;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 30px;
                }
            }
        }     
    }
}

h2{
    font-size: 1.5rem;
}
p{
    font-size: 0.9rem;
}

video{
    width: 100%;
    top: 0px;
}

a, a:hover{
    color: rgb(37, 33, 33);
    text-decoration: none;
    list-style: none;
}

.navbar{
    background: transparent;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    transition: top 0.2s ease-in-out;
    z-index: 1;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(222, 86, 86);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(157, 33, 33)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-up{
    top: -60px;
}

.container-fluid{
    padding-top: 25px;
    padding-left: 5vw;
    padding-right: 5vw;
    
    .h2p{
        padding-left: 15px;
    }
}

@mixin social{
    padding: 14px 27px;
    width: 93px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #0964c6;
    &:hover{
        background-color:  #75d1fc;
    }
}

.social1, .social2, .social3{
    @include social;
}


@mixin mgpddzero($padding:0px 0px) {
    margin: 0px;
    padding: $padding;
}

.contimg{
    @include mgpddzero();
}
.imagenes{
    @include mgpddzero(0px 30px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    div {
        width: 23%;
        height: 15vh;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        overflow: hidden;
        margin: 1%;
        border-radius: 5px;
        img {
            width: 100%;
        } 
    }
}

// OVERFLOW: HIDDEN

.sign{
    width: 90px;
    border-radius: 10%;
    opacity: 0.5;
}
footer{
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 10px;
    color: black;
    font-size: 14px;
    >div:not(:first-child){
        padding-top: 25px;
    }
    .footer{
        flex-wrap: nowrap;
        justify-content: space-between;
        .col{
            width: 30%;
            li{
                text-decoration: none;
                color: black;
                list-style: none;
            }
        }
    }
    .logo{
        width: 25px;
        opacity: 0.5;
        border-radius: 20%;
    }
    .iconos, .copyright{
        .row{
            width: 30%;
            margin: 0 auto;
            justify-content: space-between;
        }
    }
}

.navbar-nav{
    float: right;
    text-align: end;
    .dropdown-menu{
        opacity: 0.9;
        width: 250px;
        position: relative;
        top: -50px;
        left: 110px;
    }
}

@media (min-width: 992px){
    .navbar-nav{
        .dropdown-menu{
            opacity: 0.9;
            width: 250px;
            position: relative;
            top: 47px;
            left: -150px;
        }
    }
}

.collapse{
    overflow: visible;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(222, 86, 86);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(157, 33, 33)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

