@media (max-width: 425px) {
    html{
        body{
            background-color: #EDF3F3;
            margin: 0;
            padding: 0;
        }
    }
    
    main{
        .firstcontainer .row div{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            &:last-child{
                padding-bottom: 10px;
            }
            *{
                padding: 4px 0px,
            }
        }
        /* fluid 5 columns */
        .grid-sizer, .grid-item {float:left; width: 100%; }
        .grid-item.is-expanded { width: 100%; }
    }


    footer{
        .footer{
            display: block;
            width: 100%;
            padding-top: 20px;
            margin: 0;
            .col{
                width: 100%;
                padding: 0;
                line-height: 35px;
                ul{
                    margin: 0;
                    padding: 0;
                }
            }
            .col:not(:first-child){
                padding-left: 35px;
            }
        }
        .logo{
            width: 10%;
            opacity: 0.5;
            border-radius: 20%;
            
        }
        .iconos, .copyright{
            .row{
                width: 70%;
                margin: 0 auto;
                justify-content: space-between;
                
            }
        }
    }

}
