@media (min-width: 426px) and (max-width: 950px){
    html{
        body{
            background-color: #EDF3F3;
            margin: 0;
            padding: 0;
            /* fluid 5 columns */
            .grid-sizer, .grid-item { float:left; width: 50%; }
        }
    }
}