html{
    width: 100%;
    height: 100%;
    body{
        width: 100%;
        background-color: #EDF3F3;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        header{
          .navbar{
              width: 100%;
              height: 60px;
              z-index: 1;
              a{
                  color: rgb(157, 33, 33);
                  &:hover{
                      color: rgb(157, 33, 33);
                  }
              }
          }
        }
        main .caja{
            height: 75vh;
            .col{
                width: 40%;
                section{
                    padding-left: 5%;
                    padding-top: 10%;
                    font-size: 25px;
                    margin: 0 auto;
                    line-height: 45px;
                    h2{
                        font-size: 35px;
                        line-height: 55px;

                    }
                    h4{
                        font-size: 30px;
                        line-height: 55px;

                    }
                }
            }
        }
        footer{
            width: 100%;
            position: fixed;
            bottom: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .footer{
                flex-wrap: nowrap;
                justify-content: space-between;
                .col{
                    width: 25%;
                }
            }
            .logo{
                width: 25px;
                opacity: 0.5;
                border-radius: 20%;
            }
            .iconos, .copyright{
                .row{
                    width: 25%;
                    margin: 0 auto;
                    justify-content: space-between;
                    p{
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

img{
    width: 100%;
}

a, a:hover{
    color: black;
   text-decoration: none;
   list-style: none;
}

#map{
    border-radius: 5%;
    right: 5%;
    width: 920px;
}

.navbar-nav{
    float: right;
    text-align: end;
    width: 100px;
    .dropdown-menu{
        padding-right: 20px; 
        text-align: end;
        opacity: 0.9;
        width: 185px;
        position: relative;
        top: -100px;
        left: -185px;
    }
}

@media (min-width: 992px){
    .navbar-nav{
        width: auto;
        .dropdown-menu{
            opacity: 0.9;
            width: 185px;
            position: relative;
            top: 47px;
            left: -70px;
        }
    }
}

.collapse{
    overflow: visible;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(222, 86, 86);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(157, 33, 33)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.admin{
    position: absolute;
    bottom: 0px;
    right: 40px;
    color: rgb(224, 224, 224);
    font-size: 5px;
}